<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome!</h1>
        <p>This is a basic example of using Thymeleaf to create a monolithic application with Java. We are using the
            Northwind SQLite database as a data source and only querying out a portion of the customer table. The
            functionality of the site is fairly straight forward, we can view existing customers, and we can add new
            ones.</p>
        <p>
            <a class="btn btn-success btn-lg" href="/customers" role="button">View customers &raquo;</a>
            <a class="btn btn-light btn-lg" href="/add-customers" role="button">Add customer &raquo;</a>
        </p>

    </div>
</div>
<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3">Existing customers</h1>
    </div>
</div>

<tr th:each="cust:${customers}">
    <td th:text="${cust.getFirstName()}"></td>
</tr>


</body>
</html>