<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.or>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>Titlen</title>
        <div class="d-flex justify-content-center"><nav class="navbar navbar-white bg-white">
            <form class="d-flex" action="#" th:action="@{/search}" method="get">
                <input class="form-control" type="text" id="trackInfo" name="search" placeholder="Enter the song you are searching for..." style="width: 30rem;">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> </nav>
        </div>
</head>
<body>
<div class="d-flex justify-content-center">
    <div align="center" class="d-flex justify-content-center">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <h5 class="card-header">Five random artists</h5>
            <div class="card-body">
                <!--<h5 class="card-title">Five random artists</h5>-->
                <p class="card-text" th:each="cuts: ${artists}" th:text="${cuts.getName}"></p>
            </div>
        </div>

        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <h5 class="card-header">Five random tracks</h5>
            <div class="card-body">
                <!--<h5 class="card-title">Five random tracks</h5>-->
                <p class="card-text" th:each="cuts: ${tracks}" th:text="${cuts.getName}"></p>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <h5 class="card-header">Five random genres</h5>
            <div class="card-body">
               <!-- <h5 class="card-title">Five random genres</h5>-->
                <p class="card-text" th:each="cuts: ${genres}" th:text="${cuts.getName}"/>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <h5 class="card-header">Five random albums</h5>
            <div class="card-body">
                <!-- <h5 class="card-title">Five random genres</h5>-->
                <p class="card-text" th:each="cuts: ${albums}" th:text="${cuts.getName}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>