<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.or>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/search}" method="get">
    <label for="trackInfo">Search for track information</label>
    <input type="text" id="trackInfo" name="search" placeholder="Enter the song you are searching for...">
    <button type="submit">search</button>
</form>
<div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text" th:each="cuts: ${searchResult}" th:text="${cuts.getTrackName}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <!--<tr th:each="cuts: ${searchResult}">
        <td th:text="${cuts.getTrackName}"></td>
    </tr>-->
</div>
<div>
    <tr th:each="cuts: ${searchResult}">
        <td th:text="${cuts.getAlbumName}"></td>
    </tr>
</div>
<div>
    <tr th:each="cuts: ${searchResult}">
        <td th:text="${cuts.getArtistName}"></td>
    </tr>
</div>
<div>
    <tr th:each="cuts: ${searchResult}">
        <td th:text="${cuts.getGenreName}"></td>
    </tr>
</div>
</body>
</html>
